* {
  margin: 0;
  padding: 0;
  font-family: "Indie Flower", cursive;
}
html {
  height: 100%;
}
body {
  position: relative;
  max-width: 120rem;
  max-height: 67.5rem;
  margin: 0 auto;
  display: flex;
  flex-direction: column;

  background-image: linear-gradient(
    to left,
    rgb(253, 136, 136),
    rgb(241, 241, 106)
  );
}

/* Formatting the Header */
.header {
  height: 8.5rem;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-bottom: 1rem;
}

.header__el {
  margin: 1.2rem;
}

.header__input {
  font-size: 1.5rem;
}

/*Colouring the Header*/
.game__name {
  font-size: 2.5rem;
  padding: 0 2rem;
  margin-top: 1.2rem;
  border-radius: 45% 22% 91% 50%;
  background-image: linear-gradient(
    to left,
    rgb(253, 136, 136),
    rgb(241, 241, 106)
  );
  text-align: center;
  box-shadow: 0px -3px 14px rgb(127, 251, 44);
  text-shadow: 0 0 3px #3cff00;
}

.enter__name {
  font-size: 1.5rem;
  text-shadow: 0 0 3px #ff0000;
}

.enter__name2 {
  font-size: 1.5rem;
  text-shadow: 0 0 3px #e5ff00;
}

.save__name {
  height: 2.5rem;
  width: 2.5rem;
  padding: 0.3rem;
  border-radius: 100px;
  border: 1px solid rgb(107, 3, 3);
  box-shadow: -1px 0px 3px black;
  background-color: orange;
  font-weight: bold;
}

.save__name:active {
  box-shadow: none;
}

/*Working on the Game Field*/
.section {
  margin-top: 3rem;
  height: 75%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.section__el p {
  font-size: 2rem;
}

.grid__table {
  position: relative;
  min-width: 40%;
  max-width: 40%;
  display: grid;
  grid-template-columns: repeat(7, 7fr);
  grid-template-rows: repeat(6, 6fr);
  column-gap: none;
  row-gap: none;
}

/*Colouring the Game Field*/
.grid__el {
  background-color: white;
  border-left: 1px solid grey;
  border-right: 1px solid grey;
  border-bottom: 1px solid black;
  border-radius: 200%;
}

.shadowed {
  box-shadow: -1px 0 1px black;
}

.player__panel {
  font-size: 1.2rem;
  font-weight: bold;
  min-width: 18%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  border-radius: 100px;
  box-shadow: 0px 0px 14px rgb(127, 251, 44);
}

.yellow__player {
  background-image: linear-gradient(to bottom left, #fff308, #fffee3);
  text-shadow: 0 0 3px #ff0000;
}

.red__player {
  background-image: linear-gradient(to bottom right, #fc220a, #fc8679);
  text-shadow: 0 0 3px #fbff00;
}

/* Game Over Modal Window */
.modal {
  position: absolute;
  top: 20%;
  left: 50%;
  width: 40%;
  height: 30%;
  transform: translate(-50%, -50%);
  z-index: 10;
  font-size: 0.8rem;
  transition: opacity 0.3s;

  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background-image: linear-gradient(
    to bottom,
    rgb(241, 241, 106),
    rgb(253, 136, 136)
  );
  border: 1px solid rgb(233, 134, 134);
}

.modal h1 {
  font-size: 3rem;
}

.modal p {
  font-size: 2.5rem;
}

.buttonz {
  padding: 0.3rem;
  font-weight: bold;
  font-size: 1.4rem;
  border-radius: 100px;
  border: 1px solid rgb(107, 3, 3);
  box-shadow: -1px 0px 3px black;
  background-color: orangered;
}

.btn__newGame {
  font-size: 1.5rem;
}

.btn__newGame:active {
  box-shadow: none;
}

/*Game Reset Modal Window*/
.modal2 {
  position: absolute;
  top: 20%;
  left: 50%;
  width: 40%;
  height: 30%;
  transform: translate(-50%, -50%);
  z-index: 11;
  font-size: 2.2rem;
  text-align: center;
  transition: opacity 0.3s;

  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background-image: linear-gradient(
    to bottom,
    rgb(241, 241, 106),
    rgb(253, 136, 136)
  );
  border: 1px solid rgb(233, 134, 134);
}

.btns__reset {
  font-size: 2rem;
  min-width: 90%;
  flex-direction: row;
  display: flex;
  justify-content: space-around;
}
.buttonz:active {
  box-shadow: none;
}

/* Hiding Modal Windows and Input Fields */
.hidden {
  display: none;
}

.hidden1 {
  opacity: 0;
}

.overlay {
  position: absolute;
  top: -2rem;
  left: -2rem;
  width: calc(100% + 4rem);
  height: calc(100% + 4rem);
  border-radius: 60px;
  background-color: rgba(0, 0, 0, 0.744);
  backdrop-filter: blur(3px);
  z-index: 5;
  transition: opacity 0.3s;
}
.instructions {
  color: rgb(237, 237, 237);
  margin: 2.5rem 1rem 0 2.5rem;
}

.instructions h1 {
  font-size: 2rem;
}

.instructions p {
  font-size: 1.7rem;
  font-weight: 700;
  line-height: 1.5;
}

.greeting {
  text-align: right;
}

.modal-message {
  position: absolute;
  top: 6rem;
  left: calc(50% - 10rem);
  width: 20rem;
  height: 5rem;
  background-color: #fc220a;
  text-align: center;
  border-radius: 12px;
  transition: opacity 0.3s ease-out;
  cursor: default;
  opacity: 0;
}

.modal-message p {
  padding: 1rem;
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 1.2;
}
